.mainPage-container {
    display: flex;
    margin-top: 70px;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 247, 236);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainPage-container h4 {
    font-size: 90px;
}

.mainPage-container p {
    font-size: 24px;
}

.motive-container {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.motive-container h4 {
    font-size: 24px;
}

.motive-container p {
    font-size: 16px;
    margin-top: 30px;
}

.motive-container span{
    background-color: bisque;
}

.idea-container {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 247, 236);
}

.idea-container h4 {
    font-size: 24px;
}

.idea-container p {
    font-size: 16px;
    margin-top: 30px;
}

.idea-container span{
    background-color: rgb(255, 206, 146);
}

.skill-container {
    width: 100%;
    height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.skill-container h4 {
    margin-top: 200px;
    font-size: 24px;
}

.skill-container p {
    font-size: 16px;
    margin-top: 30px;
}

.skill-container span{
    background-color: bisque;
}

.card-container {
    display: flex;
}

.card {
    width: 15%;
    margin: auto;
}

.card span {
    background-color: bisque;
}

.work-container {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 247, 236);
}

.work-container h4 {
    font-size: 24px;
}

.work-container p {
    font-size: 16px;
    margin-top: 30px;
}

.work-container span{
    background-color: rgb(255, 206, 146);
}